@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */

/* 
속성순서
1.display 및 & 레이아웃 관련
2.크기
3.마진 패딩
4.보더
5.텍스트
6.배경
7.포지션
8.기타등등
*/

/* COMMON - S */
body{font: 18px/ 1 'Noto Sans KR', sans-serif, '돋움', dotum, AppleGothic, sans-serif; color: #555; letter-spacing: -1px;}
a{text-decoration: none; color: inherit;}
img {vertical-align: top;}
.skip-nav a {
  width: 100%; height: 50px;
  background-color: #555;
  line-height: 50px; color: #fff; text-align: center;
  position: absolute; left: 0; top: -100px;
}
.skip-nav a:focus {top: 0;}
.inner{width: 1280px; margin: 0 auto;}
.hidden{display: none;}
.clearfix:after{content: ""; clear: both; display: block;}
/* COMMON - E */
/* HEADER - S */
#header{
  width: 100%; height: 80px;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  position: absolute; left: 0; top: 0; z-index: 10;
}
.logo{
  float: left;
  padding-right: 80px;
  position: relative; z-index: 11;
}
.logo a{
  display: block;
  width: 100%; height: 120px;
  text-indent: -9999px;
  background: url(/img/common/logo.png);
}
.gnb{
  float: left;
}
.gnb-tit{
  display: none;
  width: 190px;
  margin-left: -640px; padding-top: 70px;
  text-align: center;
  position: absolute; left: 50%; top: 100%; z-index: 20;
}
.gnb-tit dt{
  position: absolute; left: 50px; top: 190px;
}
.gnb-tit dd{font-size: 16px;}
.gnb-tit dd:nth-of-type(1){
  display: block;
  width: 150px; height: 112px;
  margin: 0 auto 30px;
  text-indent: -9999px;
  background-image: url(/img/common/greenbean.png);
}
.gnb ul{
  position: relative; z-index: 10;
}
.gnb .depth1{
  float: left;
}
.gnb .depth1 > a{
  display: block;
  width: 130px; height: 80px;
  font-weight: 500; line-height: 80px; color: #fff;
  position: relative;
}
.gnb .depth1 > a:after{content: "";
  width: 100%; height: 3px;
  background-color: #f90;
  position: absolute; left: 0; bottom: 0;
  opacity: 0;
  transition: all 0.4s;
}
.gnb .depth2{
  display: none;
  height: 260px;
  padding-top: 30px;
}
.gnb .depth2 a{
  font-size: 16px; line-height: 35px; color: #777;
}
.gnb .gnb-bg{
  display: none;
  width: 100%; height: 380px;
  background-color: #fff;
  position: absolute; left: 0; top: 0px;
}
.gnb:hover .depth1 a{color: #333;}
.gnb:hover .depth1 .depth2{display: block;}
.gnb:hover .gnb-bg{display: block;}
.gnb:hover .gnb-tit{display: block;}
.gnb .depth1:hover a:after{opacity: 1;}
.gnb .depth1 a:hover{color: #f90;}
.gnb .depth2 a:hover{color: #f90;}
.gnb:hover ~ .tnb{color: #999;}

.tnb{
  float: right;
  padding-top: 15px;
  font-weight: 300; font-size: 12px;
  line-height: 50px; color: rgba(255,255,255,0.5);
  position: relative;
}
.tnb .tnb-menu{
  float: left;
  padding: 0 5px;
}
.tnb .tnb-login{
  float: left;
  margin-right: 5px; padding: 0 5px;
}
.tnb .tnb-login li{
  float: left;
}
.tnb .tnb-login li+li{
  display: none;
}
.tnb .tnb-donate{
  float: left;
  width: 90px; height: 50px;
  font-size: 16px; color: #fff;
  background-color: #f90;
}
/* HEADER - E */
/* FOOTER - S */
#footer{
  height: 300px;
  background-color: #333;
}
.f-logo{
  float: left;
  width: 80px; height: 87px;
  margin: 0 30px 100px 0;
  text-indent: -9999px;
  background-image: url(/img/common/f-logo.png);
}
.f-sns{
  float: right;
  margin: 30px 30px 0 0;
}
.f-sns li{
  float: left;
}
.f-sns li + li{margin-left: 10px;}
.f-sns li a{
  display: block;
  height: 20px;
  text-indent: -9999px;
  background: url(/img/common/f-sns-icon.png) no-repeat;
}
.f-sns li:nth-child(1){font-weight: 400; font-size: 16px; line-height: 20px; color: #999;}
.f-sns li:nth-child(2) a{
  width: 11px;
  background-position: 0 0;
}
.f-sns li:nth-child(3) a{
  width: 21px;
  background-position: -11px 0;
}
.f-sns li:nth-child(4) a{
  width: 26px;
  background-position: -32px 0;
}
.f-sns li:nth-child(5) a{
  width: 21px;
  background-position: -58px 0;
}
.f-copy{
  float: left;
  width: 980px;
}
.f-copy em{
  display: block;
  margin-bottom: 10px;
  font-weight: 400; font-size: 16px; line-height: 30px; color: #999;
}
.f-copy ul{margin-bottom: 5px;}
.f-copy ul li{
  float: left;
  font-size: 14px; line-height: 20px; color: #777;
}
.f-copy ul li:nth-child(n-1){margin-right: 5px;}
.f-copy ul li address{display: inline;}
.f-copy p{font-weight: 100; font-size: 12px; line-height: 20px; color: #555;}
/* FOOTER - E */
/* HEADER - E */
