@charset "UTF-8";

.visual{
  width: 100%; height: 400px; min-width: 1280px;
  background-repeat: no-repeat; background-position: center center;
}
.visual .inner{
  padding-top: 200px;
  text-align: center;
}
.visual strong{font-weight: 500; font-size: 40px; color: #fff;}
.sub-tit{
  width: 1280px;
  margin-bottom: 30px; padding-top: 160px;
  text-align: center;
}
.sub-tit .tit{
  margin-bottom: 10px;
  font-weight: 700; font-size: 60px; line-height: 70px; color: #111;
}
.sub-tit .desc{color: #777;}
.sec-header{margin-bottom: 100px;}
/* LNB - S */
.lnb{
  width: 100%; height: 60px; min-width: 1280px;
  background-color: #333;
}
.lnb .inner{text-align: center;}
.lnb .lnb-list{display: inline-block;}
.lnb .lnb-list li{
  float: left;
}
.lnb .inner li a{
  display: block;
  width: 120px;
  font-size: 20px; line-height: 60px; color: #fff;
  transition: all 0.3s;
}
.lnb .inner li a:hover{font-size: 24px; color: #f90;}
.lnb .inner li.on a{font-size: 24px; color: #f90;}
/* LNB - E */